h1{text-transform: uppercase; text-align: center;text-decoration: underline;background-color: #B80000}

.roller{width: 200px;height: 200px;border-top: 10px solid rgb(3, 28, 255) ;border-radius: 50%;border-bottom:10px solid rgb(2, 225, 255) ;animation: rolleranimate 4s ease-in 1s infinite  normal;text-align: center;text-transform: uppercase;background-color:rgb(255, 239, 8) }
.roller2{width: 150px;height: 150px;border: 20px solid rgb(11, 110, 16);margin: -200px 0px 210px 448px;animation:rolleranimate 4s ease-out 1s infinite normal;text-transform: uppercase;background-color: rgb(63, 255, 24) }
.roller3{width: 120px;height: 120px;border: 10px solid brown;animation:rolleranimate 4s ease-in-out 1s infinite normal;margin: -349px 0px 0 920px ;border-radius: 20% ;text-transform: uppercase ;background-color: gray}
.sizeincrease1{width: 80px;height: 80px; border: 5px solid rgba(252, 0, 126, 0.459); margin: 107px 0px 0px 100px;animation: sizeanimate 2s infinite normal;background-color: rgb(162, 0, 255) ;text-transform: uppercase}

.sizeincrease2{width: 70px;height: 70px; border: 5px solid orangered;margin: -82px 0px 0px 417px;animation: sizeanimate 2s infinite normal;background-color: rgba(83, 180, 88, 0.61);text-transform: capitalize}

.sizeincrease3{width: 90px;height: 90px; border: 5px solid brown;margin: -98px 0px 0px 767px; animation: sizeanimate 2s infinite normal;background-color:rgba(116, 197, 197, 0.781);text-transform: uppercase }
.walkbox1{width: 150px;height: 150px;border: 10px solid rgb(155, 30, 51);margin-top: 200px;animation: walkanimate 3s  infinite normal;background-color:rgb(5, 255, 151) ;text-transform: uppercase }

.walkbox2{width: 150px;height: 150px;border: 10px solid green ;text-transform: uppercase  ; margin-left: 322px;
    margin-top: -173px;animation: walkanimate 3s  infinite normal ;background-color: rgb(145, 114, 67)}

.walkbox3{width: 150px;height: 150px;border: 10px solid red; ;text-transform: uppercase  ; margin-top: -168px;
    margin-left: 700px;animation: walkanimate 3s  infinite normal;background-color:navy }

   


@keyframes rolleranimate{
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}
@keyframes walkanimate{
    from{transform: translate(0px) }
    to{transform: translate(500px) }
}
@keyframes sizeanimate{
    from{transform: scale(1)}
    to{transform: scale(2)}
}
body{background-color:dodgerblue}